* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0 0;
    font-family: "Inter", sans-serif;
  }
  
  header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px 2px #aaa;
    padding: 20px 120px;
    z-index: 100;
  }
  
  
  header div h2 {
    margin: 0;
    padding: 0;
    color: #4c82ac;
  }
  
  head nav {
    display: block;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
  }
  
  header nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
  }
  
  article,
  section {
    display: block;
    padding: 0 120px;
    font-size: 20px;
  }
  
  article {
    position: relative;
  }
  
  main article::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background-color: #ddd;
  }
  main article:first-child::before {
    display: none;
  }
  
  section:first-child {
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
  }
  section h1 {
    font-size: 50px;
  }
  section img {
    height: 100%;
    display: block;
    padding: 50px;
  }
  
  article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 150px 120px;
  }
  .article-element {
    width: 50%;
  }
  
  article h4 {
    font-size: 30px;
  }
  
  article h4::after {
    content: "";
    display: block;
    width: 70px;
    height: 7px;
    background-color: #00cc60;
    margin-top: 5px;
  }
  
  article img {
    object-fit: contain;
    height: 200%;
    object-position: center;
  }
  
  footer {
    text-align: center;
    position: relative;
    bottom: 0;
  }
  