*{
    box-sizing: border-box;
  }
  body{
    margin:0;
    padding:0;
    font-family: sans-serif;
  }
  h1{
    font-size:50px;
  }
  h4{
    font-size:30px;
  }
  header{
    position:sticky;
    height:100%;
    background-color: lightgray;
    top:0;
    left:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0, 0, 10px, 2px, #aaa;
    padding: 20px, 120px, 0px , 0px;
    z-index: 100;
  }
  #strglowna{
    color:greenyellow;
  }
  #linki{
    display:flex;
    list-style:none;
    gap:22px;
  }
  #divjana{
    color:blue;
  }
  a{
    text-decoration: none;
  }

  article, section{
    display:block;
    font-size:20px;
    padding-top:0;
    padding-bottom:0;
    padding-left:120px;
    padding-right:120px;
  }

  article{
    position:relative;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding:150px, 120px;
  }
  .article-element{
    width:50%;
  }

  footer{
    text-align:center;
  }